*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
@font-face {
  font-family: Roboto-Thin;
  src: url(../fonts/Roboto/Roboto-Thin.ttf);
} 

@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto/Roboto-Regular.ttf);
}

@font-face {
  font-family: Roboto-Light;
  src: url(../fonts/Roboto/Roboto-Light.ttf);
}

@font-face {
  font-family: Roboto-Bold;
  src: url(../fonts/Roboto/Roboto-Bold.ttf);
}

@media (max-width: 750px){
	div.top-bar {
		display: block;
	}
}
section.banner{
	position: relative;
}

section.banner img{
	object-fit: cover;
	object-position: center;
	width: 100%;
}

section.banner .banner__contents{
	position: absolute;
	top: 30%;
	width: 100%;
}

section.banner .banner__title h1{
	font-family: Roboto-Bold;
  font-size: 44px;
  font-weight: bold;
  line-height: 57px;
}

section.banner .banner__description p{
	  font-family: Roboto;
    font-size: 20px;
    line-height: 40px;
}

section.banner .banner__description a{
	font-size: 18px;
	font-weight: bold;
	text-decoration: underline;
	color: black;
}

section.banner .banner__contents .banner__group_btn{
	margin-top: 40px;
}

section.banner .banner__contents .banner__group_btn button{
	padding: 10px;
    border-radius: 40px;
    font-size: 16px;
    padding-left: 30px;
    padding-right: 30px;
    font-family: Roboto;
    border: 1px solid;
    width: 42%;
    padding-top: 2%;
    padding-bottom: 2%;
}

button.banner__btn_ask {
    background-color: #DEF5EC;
}

section.banner .banner__contents .banner__group_btn button.banner__btn_register{
	font-size: 16px;
    color: white;
    background-color: #d43419;
    border-color: #d43419;
    font-family: Roboto-Light;
    font-weight: 900;
    padding-top: 2%;
    padding-bottom: 2%;
}

section.banner .banner__contents .banner__group_btn button:focus{
	outline: none;
	box-shadow: none;
}

@media (min-width: 768px) and (max-width: 991px){
	section.banner .banner__contents{
		top: 10%;
	}
}
@media (min-width: 480px) and (max-width: 767px){
	/*section.banner .banner__title h1{
		font-size: 24px;
		line-height: 10px;
	}*/

	section.banner .banner__description p{
		font-size: 12px;
		line-height: 10px;
	}

	section.banner .banner__description a{
		font-size: 12px;
	}

	section.banner .banner__contents{
		top: 20%;
	}

	section.banner .banner__contents .banner__group_btn button{
		padding: 5px;
		padding-left: 15px;
		padding-right: 15px;
	}
}

@media (max-width: 479px){
	section.banner .banner__title h1{
		font-size: 16px;
		line-height: 10px;
	}

	section.banner .banner__description p{
		font-size: 10px;
		line-height: 10px;
	}

	section.banner .banner__description a{
		font-size: 10px;
	}

	section.banner .banner__contents{
		top: 10%;
		padding-left: 12px;
	}

	section.banner .banner__contents .banner__group_btn button{
		padding: 5px;
		padding-left: 15px;
		padding-right: 15px;
		font-size: 10px;
	}
	section.banner .banner__contents .banner__group_btn{
		margin-top: 20px;
	}
}
/*end section banner*/

/*section video*/

section.video-info{
	margin-top: 90px;
}
section.video-info .video-info__title h1{
	font-family: Roboto-Light;
  font-size: 36px;
  font-weight: normal;
}

section.video-info .video-info__title.text-center.col-md-8.offset-md-2 {
	font-family: Roboto-Light;
}

/*end section video*/

/*section trens*/
section.trens .trens__title__large {
    font-family: Roboto-Light;
}

section.trens{
	margin-top: 90px;
}
section.trens .container-fluid{
	background-color: #f2f5fa;
	padding-top: 60px;
	padding-bottom: 60px;
}

section.trens img.card-img-top.img-fluid {
    border-radius: 0;
}

section.trens .trens__title h2{
	font-size: 34px;
}

section.trens .trens__title small{
	letter-spacing: 1.5px;
	font-size: 16px;
}

section.trens .trens__title__small.mt-3 {
    font-family: Roboto;
    font-size: 17px;
    color: #8a8a8a;
}

section.trens .trens__contents .card{
	border: none;
	border-radius: 0;
	background-color: #f2f5fa;
}

section.trens .trens__contents .card .card-body{
	padding:0;
}

section.trens .trens__title__large h1 {
    font-size: 36px;
    font-family: Roboto-Light;
}

section.trens .trens__contents .card .card-body a{
	color: #31ab70;
	text-decoration: underline;
	font-weight: bold;
	font-size: 14px;
}

section.trens .trens__contents .card .card-body .card-title {
    margin-bottom: .75rem;
    font-family: Roboto;
    font-weight: 600;
    font-size: 18px;
}

section.trens .trens__contents .card .card-body .card-text{
	color: #8a8a8a;
}

section.trens .trens__contents p.card-text.block-ellipsis {
    display: block;
    display: -webkit-box;
    max-width: 100%;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
}

@media (min-width: 768px){
	section.trens .trens__contents .col-md-2{
		-ms-flex: 0 0 20% !important;
		flex: 0 0 20% !important;
    max-width: 20% !important;
	}
}

/*end section trens*/

/*section platform*/

section.platforms{
	margin-top: 90px;
	margin-bottom: 90px;
}

section.platforms .platforms__title h5{
	text-transform: uppercase;
	font-weight: bold;
	text-align: center;
	font-family: Roboto;
	margin-bottom: 3%;
}

/*end section platform*/

/*section lỉne*/

section.line-dashed .line-dashed__hr{
	border-top: 1px dashed #7c7c7c;
	width: 200px;
}

section.line-dashed{
	text-align: -webkit-center;
}


/*end section line*/


/*section customer*/

section.customers{
	margin-top: 90px;
	margin-bottom: 90px;
}

section.customers .customers__title h5{
	text-transform: uppercase;
	font-weight: bold;
	text-align: center;
	font-size: 20px;
}

section.customers .customers__logos .customers__box-logo{
	position: relative;
	text-align: center;
	border: 2px solid #f0f0ef;
	width: 84px;
	height: 84px;
	margin-top: 30px;
	overflow: hidden;
}

section.customers .customers__logos .customers__box-logo img{
	position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto auto;
}

@media (min-width: 768px){
	section.customers .customers__logos .col-md-1 {
    -ms-flex: 0 0 10% !important;
    flex: 0 0 10% !important;
    max-width: 10% !important;
	}
}
/*end section customer*/

/*section message customer*/

section.message-customer{
	margin-top: 90px;
	margin-bottom: 90px;
}

section.message-customer .message-customer__message p{
	font-weight: 550;
    font-style: italic;
    font-size: 16px;
    line-height: 30px;
}

section.message-customer .message-customer__info .message-customer__name p{
	font-weight: bold;
	font-size: 16px;
	font-family: Roboto;
}

section.message-customer .message-customer__info .message-customer__position p{
	font-style: italic;
	color: #bbbdc0;
	font-size: 15px;
	margin-bottom: 70px;
}

section.message-customer .message-customer__info .message-customer__see-more a{
	font-size: 14px;
    color: #31ab70;
    font-weight: bold;
    text-decoration: underline;
    font-family: Roboto-Light;
}

section.message-customer .message-customer__message, section.message-customer .message-customer__position p {
    font-family: Roboto;
}

section.message-customer .message-customer__image-box img {
    border-radius: 50%;
}

/*end message customer*/

/*section page infomation*/

section.page-infomations .page-infomations__title h1{
	font-weight: normal;
  font-family: Roboto-Light;
  font-size: 36px;
}

section.page-infomations .page-infomations__title.text-center {
    width: 100%;
}

section.page-infomations .page-infomations__title .page-infomations__line{
	text-align: -webkit-center;
	margin-top: 20px;
	margin-bottom: 40px;
}

section.page-infomations .page-infomations__title .line{
	border-bottom: 1px solid #b7b6b6;
	width: 100px;
}

section.page-infomations .nav a.nav-link{
	text-transform: uppercase;
	background-color: #f4f7fc;
	border-color: #9298a2;
	color: #97a3b7;
	margin-right: 15px;
	font-size: 14px;
    padding: 10px 10px;
    border-radius: 4px;
    border: 1px solid #dcdcdcb5;
    font-weight: 500;
}

section.page-infomations .nav .nav-item{
	margin-top: 10px;
}

section.page-infomations .nav a.nav-link.active{/*97a3b7  */
	background-color: #059044;
	color: white;
}

section.page-infomations .tab-content .card .card-body{
	padding: 1rem;
	padding-bottom: 0;
	font-family: Roboto;
}

section.page-infomations .tab-content .card{
	margin-top: 30px;
	border-radius: 0;
}

section.page-infomations .tab-content .card .card-body .card-title{
	font-size: 18px;
    font-weight: bold;
    font-family: Roboto;
}

section.page-infomations .tab-content .card .card-body .card-text.calendar,
section.page-infomations .tab-content .card .card-body .card-text.calendar small{
	color: #059044;
}

section.page-infomations .tab-content .card .card-img {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

section.page-infomations .tab-content .card .card-body .card-text.calendar {
    margin-bottom: 4px;
}

.bg-form {
	background-image:  url(../images/);
}

section.page-infomations .tab-content .card .card-body p.card-text.ellipsis {
    display: -webkit-box;
    max-width: 100%;
    margin: 0 auto;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
}
/*end section page infomation*/

@media (max-width: 750px) {
	.bg-form {
	background-image: none;
}
}
/*end section page infomation*/

/*section lỉne solid */

section.page-infomations .line-solid{
	margin-top: 90px;
	margin-bottom: 90px;
}

section.page-infomations .line-solid .line-solid__hr{
	border-top: 1px solid #dcdcdcb5;
}

section.page-infomations ul.nav.nav-fill {
    /*padding: 0 45px;*/
}

@media (max-width: 767px){
	section.page-infomations .nav{
		/*display: block;*/
	}
}


/*end section line solid*/

/*section form*/

section.form{
	margin-top: 90px;
	margin-bottom: 90px;
}

section.form .form__contents{
	border-radius: 10px;
	padding: 90px 40px 90px 40px;
	background-color: #f2f5fa;
	font-family: Roboto;
}

section.form .form__contents .form__title h2{
	font-weight: normal;
}

section.form .form__box{
	background-color: white;
	border-radius: 20px;
	padding: 50px;
	-webkit-box-shadow: 0px 1px 12px 6px rgb(219 224 232 / 42%);
	-moz-box-shadow: 0px 1px 12px 6px rgb(219 224 232 / 42%);
	box-shadow: 0px 1px 12px 6px rgb(219 224 232 / 42%);
}

section.form .form__box .form__box__title{
	text-align: center;
}

section.form .form__box .form__box__title .form__box__title_item{
	display: inline;
	text-transform: uppercase;
}

section.form .form__box .form__box__title .form__box__title_item.item-req{
	color: #01994e;
	font-weight: bold;
}

section.form .form__box .form__box__description p{
	color: #cbc8c8;
	font-size: 18px;
}

section.form .form__box .form__input input, section.form .form__box .form__input .input-group{
	margin-bottom: 20px;
}

section.form .form__box .form__input .form__input__submit{
	text-transform: uppercase;
	color: white;
	font-weight: bold;
	background-color: #d43419;
	padding-top: 11px;
  padding-bottom: 11px;
}

section.form .form__box .form__input .form__contact_info p{
	font-weight: bold;
	color: #d43419;
}

section.form .form__title.w-100.text-center.mb-5 h2 {
    font-family: Roboto-Light;
    font-size: 36px;
}

@media (max-width: 480px){
	section.form .form__contents{
		padding-top: 90px; 
    padding-bottom: 90px;
    padding: 0;
	}
}

input.form-control::placeholder {
    color: black;
}

select.form-control {
    font-style: italic;
}

/*end section form*/


/*footer*/


footer .footer__intro {
    margin-left: 15px;
    width: 25%;
}

.col-md-2.col-sm-8.service {
    max-width: 14%;
}
.col-md-3.col-sm-4.about_us {
    max-width: 19%;
}
footer .footer__connect {
    width: 24%;
}

@media (min-width: 751px) {
 
}

@media (max-width: 750px) {
  /*.title__banner {
    font-family: Roboto;
    margin-top: 29rem;
	}*/
  /*.container.title__banner .col-sm-12 {
  	padding: 6rem;
  }*/
  /*section.banner .banner__title h1 {
    text-align: center;
    font-weight: bold;
    font-size: 45px;
	}*/

	.banner__description.mt-4 {
    padding-left: 7%;
    padding-right: 7%;
	}

	section.banner .banner__description a {
    font-size: 17px;
	}

	section.banner .banner__contents .banner__group_btn button {
    border-color: #d43419;
    color: #d43419;
    font-weight: 900;
    padding: 3%;
	}

	/*section.banner .banner__description p {
    font-size: 19px;
    line-height: 29px;
    text-align: center;
	}*/

	section.video-info .video-info__title h1 {
    font-family: Roboto-Light;
    font-size: 33px;
    font-weight: normal;
	}
	
	.trens__title__large h1 {
    font-size: 33px;
    padding-left: 12%;
    padding-right: 11%;
	}

	section.trens img.card-img-top.img-fluid {
    border-radius: 0;
    padding-left: 8%;
    padding-right: 8%;
	}

	/*section.trens .trens__contents .card .card-body {
    padding: 0;
    text-align: center;
    margin-bottom: 5%;
	}*/

	section.trens .trens__contents p.card-text.block-ellipsis {
    display: block;
    display: -webkit-box;
    max-width: 100%;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    padding-left: 7%;
    padding-right: 7%;
    text-overflow: ellipsis;
	}
	section.platforms, section.customers,
	section.message-customer, section.page-infomations .line-solid
	 {
    margin-top: 70px;
    margin-bottom: 70px;
	}
	section.form .form__title.w-100.text-center.mb-5 h2 {
    font-family: Roboto-Light;
    font-size: 33px;
	}
	section.form .form__contents {
    border-radius: 10px;
    padding: 60px 40px 60px 40px;
    background-color: #f2f5fa;
    font-family: Roboto;
	}

	footer .footer__above .footer__title {
    text-transform: uppercase;
    font-weight: 900;
    margin-bottom: 6px;
    font-size: 15px;
	}

	footer .footer__bottom {
    height: 50px;
    background-color: #059044;
    margin-top: 15px;
    color: white;
	}
	/*.row.customers__logos {
    padding-left: 5%;
    padding-right: 5%;
	}*/
	section.page-infomations ul.nav.nav-fill {
    padding: 0px 90px;
	}

	section.page-infomations .tab-content .card .card-body {
    padding: 2rem;
    padding-bottom: 0;
    font-family: Roboto;
	}

	.col-md-1.col-sm-2.col-4 {
    margin-left: 1%;
    margin-right: 2%;
	}

	/*section.message-customer .message-customer__message, section.message-customer .message-customer__position p {
    font-family: Roboto;
    padding-left: 14%;
    padding-right: 14%;
	}
*/
	section.message-customer .message-customer__info .message-customer__position p {
    font-style: italic;
    color: #bbbdc0;
    font-size: 15px;
    margin-bottom: 25px;
	}

	.container, .container-sm {
    	max-width: 670px;
	}
	section.form img.img-fluid {
		margin-top: 9%;
	}

	footer .footer__intro {
	    margin-left: 15px;
	    width: 38%;
	}

	.footer__above_description {
    	padding-right: 9rem;
	}

	footer .footer__above .footer__above_description p {
    	margin-top: 8px;
	}
	.col-md-2.col-sm-8.service {
		max-width: 66.67%;
	}
	.col-md-3.col-sm-4.about_us {
    	max-width: 33.33%;
	}
	footer div.container img.img-cong-thuong {
	    position: absolute;
	    right: 15px;
	    top: 50%;
	    transform: translateY(-50%);
	}
	footer .footer__above .input-group.footer__email_box .form-control {
	    border-radius: 0;
	    background-color: #f2f5fa;
	    font-size: 15px;
	    padding: 3%;
	}
}







@media (max-width: 1199px) {
	section.banner .banner__contents {
    position: absolute;
    top: 17%;
    width: 100%;
	}
	section.banner .banner__title h1 {
    font-size: 40px;
    line-height: 52px;
	}
	section.video-info .video-info__title h1 {
    font-size: 36px;
	}
	section.video-info {
    margin-top: 75px;
	}
	section.trens {
    margin-top: 75px;
	}
	section.platforms {
    margin-top: 75px;
    margin-bottom: 75px;
	}
	section.message-customer {
    margin-top: 75px;
    margin-bottom: 75px;
	}
	section.customers {
    margin-top: 75px;
    margin-bottom: 75px;
	}
	section.form {
    margin-top: 75px;
    margin-bottom: 75px;
	}
	section.page-infomations .tab-content .card .card-body p.card-text.ellipsis {
    -webkit-line-clamp: 2;
	}
	section.page-infomations .tab-content .card .card-body .card-text.calendar {
    margin-bottom: 0px;
	}
}

@media (max-width: 991px) {
	section.banner .banner__title h1 {
    font-size: 30px;
    line-height: 44px;
	}
	section.banner .banner__description p {
    font-family: Roboto;
    font-size: 18px;
    line-height: 28px;
	}
	section.banner .banner__contents .banner__group_btn button.banner__btn_register, section.banner .banner__contents .banner__group_btn button {
    padding-top: 2%;
    padding-bottom: 2%;
    width: 46%;
    padding-left: 13px;
    padding-right: 13px;
	}
	section.banner .banner__contents .banner__group_btn button {
    width: 47%;
	}
	section.video-info .offset-md-1, section.trens .offset-md-1 {
    margin-left: 0.333333%;
	}
	section.video-info .col-md-10, section.trens .col-md-10  {
    -ms-flex: 0 0 99.333333%;
    flex: 0 0 99.333333%;
    max-width: 99.333333%;
	}
	section.trens .trens__contents .card .card-body .card-title {
        font-size: 14px;
	}
	section.page-infomations .tab-content .card .card-body .card-title {
    font-size: 15px;
    margin-bottom: .5rem;
	}
	section.page-infomations .tab-content .card .card-body {
    padding: 0.75rem 0.75rem 0rem 0.75rem;
	}
	section.page-infomations .tab-content .card .card-body p.card-text.ellipsis {
    -webkit-line-clamp: 2;
    font-size: 13px;
	}
	section.message-customer .message-customer__message.offset-md-2 {
    margin-left: 14.666667%;
	}
	section.message-customer .message-customer__message.col-md-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 76.666667%;
    max-width: 76.666667%;
	}
	section.customers .customers__logos .col-md-1.col-sm-2.col-4 {
    margin-left: 4%;
    margin-right: 5%;
	}
	section.customers .row.customers__logos {
    padding: 0 5%;
	}
}

@media (max-width: 767px) {
	.container, .container-md, .container-sm {
    max-width: 670px;
	}
	section.message-customer .message-customer__message, section.message-customer .message-customer__position p {
    font-family: Roboto;
    padding-left: 14%;
    padding-right: 14%;
	}
	section.banner .banner__title h1 {
    text-align: center;
    font-weight: bold;
    font-size: 50px;
    line-height: 70px;
    font-family: Roboto-Bold;
	}
	section.banner .banner__contents {
    top: 66%;
	}
	section.banner .banner__description p {
    font-family: Roboto;
    padding: 0% 8%;
    font-size: 24px;
    line-height: 40px;
    text-align: center;
	}
	section.banner .banner__description a {
    font-size: 23px;
	}
	section.banner .banner__contents .banner__group_btn button {
    width: 42%;
	}
	section.banner .banner__contents .banner__group_btn {
    text-align: center;
	}
	section.banner .banner__contents .banner__group_btn button.banner__btn_register, section.banner .banner__contents .banner__group_btn button {
    padding-top: 1%;
    font-size: 20px;
    padding-bottom: 1%;
    width: 30%;
	}
	section.trens .trens__title__large h1 {
    font-size: 36px;
	}
	section.banner .banner__contents .banner__group_btn button {
    font-size: 20px;
  }
  section.trens .trens__title small {
    font-size: 20px;
	}
	section.trens .trens__contents .card {
    align-items: center;
    margin-bottom: 9%;
    text-align: center;
	}
	section.trens img.card-img-top.img-fluid {
    border-radius: 0;
    width: 80%;
	}
	section.trens .trens__contents .card .card-body .card-title {
    font-size: 30px;
    font-family: Roboto-Bold;
    margin-bottom: 5px;
	}
	section.trens .trens__contents .card .card-body .card-text {
    font-size: 20px;
	}
	section.trens .trens__contents .card .card-body a {
    font-size: 20px;
	}

	section.trens .trens__contents .card .card-body .card-text {
    margin-bottom: 3px;
    padding: 0 4rem;
	}
	section.trens .trens__contents p.card-text.block-ellipsis {
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
	}
	section.customers .customers__logos .col-md-1.col-sm-2.col-4 {
    margin-left: 1%;
    margin-right: 2%;
	}
	section.customers .row.customers__logos {
	    padding-left: 5%;
	    padding-right: 5%;
	}
	section.message-customer .message-customer__message.col-md-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 98.666667%;
    max-width: 98.666667%;
	}
	section.message-customer .message-customer__message.offset-md-2 {
    margin-left: 0;
	}
	section.message-customer .message-customer__message {
    font-family: Roboto;
    padding-left: 11%;
    padding-right: 11%;
	}
	section.page-infomations .nav a.nav-link {
    font-size: 18px;
  	}
  section.page-infomations ul.nav.nav-fill {
    padding: 0 85px;
	}
	section.page-infomations .container .row .offset-2 {
    margin-left: 0;
	}
	section.page-infomations .tab-content .card .card-body p.card-text.ellipsis {
     -webkit-line-clamp: 3;
     font-size: 20px;
	}
	section.page-infomations .tab-content .card .card-body .card-text.calendar {
    margin-bottom: 4px;
    font-size: 18px;
	}
	section.page-infomations .tab-content .card .card-body .card-title {
   	font-size: 24px;
   	margin-bottom: .5rem;
	}
	section.page-infomations .tab-content .card .card-body {
    padding: 1rem;
    padding-bottom: 0;
	}
	section.platforms .platforms__title h5 {
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    font-family: Roboto;
    font-size: 22px;
    margin-bottom: 3%;
	}
	section.customers .customers__title h5 {
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    font-size: 22px;
	}
	section.message-customer .message-customer__message p {
    font-weight: 550;
    font-style: italic;
    font-size: 22px;
    line-height: 30px;
	}
	section.message-customer .message-customer__info .message-customer__see-more a {
    font-size: 20px;
    color: #31ab70;
    font-weight: bold;
    text-decoration: underline;
    font-family: Roboto-Light;
}
}

@media (max-width: 640px) {
	.banner__title {
    padding: 0 15%;
	}
	section.banner .banner__title h1 {
	    text-align: center;
	    font-weight: bold;
	    font-size: 36px;
	    line-height: 55px;
	    font-family: Roboto-Bold;
	}
	section.banner .banner__contents .banner__group_btn button.banner__btn_register, section.banner .banner__contents .banner__group_btn button {
	    width: 34%;
	        padding-top: 2%;
	    padding-bottom: 2%;
	}
}

@media (max-width: 575px) {
		section.banner .banner__contents .banner__group_btn button.banner__btn_register, section.banner .banner__contents .banner__group_btn button {
    width: 42%;
    padding-top: 2%;
    padding-bottom: 2%;
	}
	section.customers .customers__logos .col-md-1.col-sm-2.col-4 {
	    margin-left: 0%;
	    margin-right: 0%;
	}
	section.customers .row.customers__logos {
	    padding-left: 4%;
	    padding-right: 4%;
	}
	section.page-infomations .tab-content .card .card-body p.card-text.ellipsis {
	    -webkit-line-clamp: 2;
	    font-size: 16px;
	}
}

@media (max-width: 	500px) {
	section.page-infomations .tab-content .card .card-body .card-title {
    font-size: 16px;
    margin-bottom: .5rem;
}
section.page-infomations .tab-content .card .card-body .card-text.calendar {
    margin-bottom: 4px;
    font-size: 16px;
}
section.page-infomations .tab-content .card .card-body p.card-text.ellipsis {
    -webkit-line-clamp: 2;
    font-size: 13px;
}
	.banner__title {
    padding: 0 4%;
}
section.trens .trens__title__large h1 ,section.video-info .video-info__title h1, section.page-infomations .page-infomations__title h1, section.form .form__title.w-100.text-center.mb-5 h2 {
    font-size: 29px;
}
section.banner .banner__contents .banner__group_btn button.banner__btn_register, section.banner .banner__contents .banner__group_btn button {
    width: 48%;
    }
  button.banner__btn_ask {
    margin-left: -3%;
    margin-top: 1%;
}
section.banner .banner__contents .banner__group_btn button.banner__btn_register, section.banner .banner__contents .banner__group_btn button {
    width: 56%;
    padding-top: 1%;
    padding-bottom: 1%;
}
}
@media 	(max-width: 400px) {
	section.banner .banner__title h1 {
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;
    font-family: Roboto-Bold;
}
section.banner .banner__contents .banner__group_btn button {
   font-size: 20px;
}
.trens__title__large h1 {
    padding-left: 4%;
    padding-right: 4%;
}
section.page-infomations .tab-content .card .card-body .card-title {
    font-size: 17px;
}
section.page-infomations .tab-content .card .card-body {
    padding: 0.5rem;
    padding-bottom: 0;
}
section.page-infomations .tab-content .card .card-img {
    height: 100%;
}
}

@media 	(max-width: 350px) {
	.banner__title {
    padding: 0 0%;
	}
	section.banner .banner__contents .banner__group_btn button.banner__btn_register, section.banner .banner__contents .banner__group_btn button {
    width: 65%;
    padding-top: 2%;
    padding-bottom: 2%;
	}
	section.page-infomations ul.nav.nav-fill {
    padding: 0 60px;
	}
	section.customers .row.customers__logos {
    padding-left: 4%;
    padding-right: 5%;
}
}


@media 	(min-width: 350px) {
		section.form .form__contents {
    border-radius: 10px;
    padding: 41px 20px 40px 20px;
    background-color: #f2f5fa;
    font-family: Roboto;
}
section.form img.img-fluid {
    margin-top: 0%;
    margin-bottom: 9%;
}
section.form .form__box {
    background-color: white;
    border-radius: 20px;
    padding: 15px;
    -webkit-box-shadow: 0px 1px 12px 6px rgb(219 224 232 / 42%);
    -moz-box-shadow: 0px 1px 12px 6px rgb(219 224 232 / 42%);
    box-shadow: 0px 1px 12px 6px rgb(219 224 232 / 42%);
}
section.form .form__box .form__box__title .form__box__title_item.item-req {
    color: #01994e;
    font-weight: bold;
    font-size: 22px;
}
section.form .form__box .form__box__title .form__box__title_item {
    display: inline;
    text-transform: uppercase;
    font-size: 22px;
}
section.form .form__box .form__input .form__input__submit {
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    background-color: #d43419;
     padding-top: 0px; 
     padding-bottom: 0px; 
}
}

@media 	(min-width: 400px) {
	section.form .form__contents {
    border-radius: 10px;
    padding: 60px 40px;
    background-color: #f2f5fa;
    font-family: Roboto;
}
section.form .form__box {
    padding: 50px;
    }
}














