section.page-title {
    background-image: url(../images/update-feature/bg.png);
    object-position: center;
    object-fit: cover;
    height: 300px;
    display: flex;
    align-items: center;
    color: white;
}

section.page-title h1 {
    text-transform: uppercase;
    font-weight: bold;
}

section.dropdown {
    margin-top: 60px;
    margin-bottom: 30px;
}

section.dropdown .dropdown__box {
    display: flex;
    background-color: #d43419;
    border-radius: 5px;
    padding: 10px;
    padding-left: 25px;
    align-items: center;
}

section.dropdown .dropdown__box h5 {
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}

section.dropdown .dropdown__box .form-group {
    width: 70%;
    margin: auto;
}

section.updates .card .card-body .right {
    margin: auto;
}

section.updates .card .card-body li {
    line-height: 33px;
}

section.updates nav {
    display: inline-block;
}

section.updates nav a {
    color: black;
}

section.banner-img {
    margin-bottom: 80px;
}

section.banner-img .text-info p {
    margin: auto;
}

nav[aria-label="Page navigation example"] ul.pagination li.page-item{
  width: 60px;
  text-align: center;
  margin-left: 8px;
  margin-right: 8px;
}
nav[aria-label="Page navigation example"] ul.pagination li.page-item a.page-link,
nav[aria-label="Page navigation example"] ul.pagination li.page-item a.page-link span {
    font-size: 25px;
    font-weight: normal;
    padding-top: 9px;
    padding-bottom: 14px;
    color: black;
}
    


/* Responsive 750px (Iphone 6) */

@media (max-width: 750px) {
    .page-title .group-title{
        text-align: center;
    }
    .page-title .group-title h1{
        font-size: 39px;
        line-height: 54px;
    }
    .page-title .group-title p{
        font-weight: normal;
        font-size: 20px;
        line-height: 35px;
    }
    div.top-bar {
        display: block;
    }
    div.top-bar div.top-bar_row {
        position: relative;
    }
    div.top-bar div.top-bar__language__group {
        display: flex !important;
        position: absolute;
        width: 170px;
        justify-content: space-between;
        right: 40px;
    }
    .container,
    .container-sm {
        max-width: 670px;
    }
    nav[aria-label="Page navigation example"] ul.pagination li.page-item a.page-link,
    nav[aria-label="Page navigation example"] ul.pagination li.page-item a.page-link span {
        font-size: 1.25rem;
        font-weight: lighter;
    }
    section.banner-img div.container {
        max-width: none;
    }
    section.banner-img div.container div.row div.col-12 {
        padding-left: 0;
        padding-right: 0;
    }
    footer div.container div.footer__title {
        line-height: 57px;
        margin-bottom: 0;
        vertical-align: baseline;
    }
    footer div.container div.footer__above_description {
        padding-right: 70px;
    }
    footer div.container img.img-cong-thuong {
        position: absolute;
        right: 15px;
        top: 50%;
        transform: translateY(-50%);
    }
    footer div.container img {
        margin-bottom: 30px;
    }
        .container, .container-sm {
        max-width: 670px;
    }
}


/* End Responsive */